<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field class="example-full-width">
            <input matInput ngModel
                required
                minlength="2"
                name="title"
                type="text"
                placeholder="Title"
                #title="ngModel">
            <mat-error *ngIf="title.invalid">
                Please enter a valid post title.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput ngModel
                required
                minlength="3"
                name="content"
                placeholder="Content"
                rows="4"
                #content="ngModel">
            </textarea>
            <mat-error *ngIf="content.invalid">
                Please enter a valid post content.
            </mat-error>
        </mat-form-field>

        <button mat-raised-button
            color="primary"
            type="submit">
            Add post
        </button>
    </form>
</mat-card>

<!-- <mat-card>
    <mat-form-field>
        <textarea matInput [(ngModel)]="newPostByNgModel" rows="6"></textarea>
    </mat-form-field>
    <p>{{ newPostByNgModel }}</p>
</mat-card> -->